<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{{ title }}</title>
    <style type="text/css">
      
      h1 {
        text-align: Center;
	      font-family: "Comic Sans MS"
      }

      table#bingoCard {
        margin-left:auto; margin-right:auto;
        border-spacing: 0px;
        border-collapse: separate;
      }

      #bingoCard th, #bingoCard td {
        border: 2px solid black;
        width: 20%;
        text-align: center;
        font-family: "Comic Sans MS";	
        padding: 4px;
      }

      #bingoCard td {
        height: 120px;
      }
    </style>
  </head>
<body>
  <h1>{{ title }}</h1>
  
  {%- for para in instructions %}
  <p>{{ para }}</p>
  {%- endfor %}

  <table id="bingoCard">
    <tr>
        {%- for category in card.spec.categories %}
        <th>{{ category }}</th>
        {%- endfor %}
    </tr>
    {%- for row in card.cells %}
    <tr>
        {%- for cell in row %}
        <td>{{ cell }}</td>
        {%- endfor %}
    </tr>
    {%- endfor %}
  </table>
</body>
</html>